In [1]:
from google.cloud import storage
import pandas as pd

In [8]:
import os 
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/floyd/home/notebooks/creds.json'

In [9]:
bucket_name = "uvai_transcripts"

storage_client = storage.Client()
bucket = storage_client.get_bucket(bucket_name)

In [19]:
blobs = bucket.list_blobs()

In [ ]:
for blob in blobs:
#     print(blob)
    file_name = blob.name
#     blob.download_to_filename('/floyd/home/notebooks/blobs/' + file_name) # download the file to the machine
    blob.download_to_filename(file_name) 
#     df = pd.read_csv(file_name) # load the data
#     print(df)

In [37]:
df = pd.read_csv('20210104__MSNBC__YT_3_JYEFbK7w8.transcript', 
                sep="\t",
                header=None,
                skiprows=[0],
                names=['word', 'start', 'duration', 'confidence', 'speaker', 'speaker_confidence'])

In [38]:
df.speaker.value_counts()

kasie hunt         419
steve daines       262
joe scarborough    214
mika brzezinski    128
paul ryan           72
Name: speaker, dtype: int64

In [41]:
df.head(5)

,word,start,duration,confidence,speaker,speaker_confidence
0,12,0.080,0.24,1.0,mika brzezinski,0.816945
1,republican,0.320,0.63,1.0,mika brzezinski,0.816945
2,senators,0.960,0.47,1.0,mika brzezinski,0.816945
3,say,1.439,0.80,1.0,mika brzezinski,0.816945
4,they,2.240,0.23,1.0,steve daines,0.868543

In [45]:
for i in range(10):#range(df.shape[0]):
    print(df.word[i])

12
republican
senators
say
they
plan
on
joining
over
100

In [42]:
df.shape

(1097, 6)